@use 'lib' as * with(
	$breakpoints: (
		'xxxs': 360px,
		'xxs': 480px,
		'xs': 640px,
		'sm': 780px,
		'md': 960px,
		'lg': 1100px,
		'xlg': 1280px,
		'xxlg': 1440px,
		'xxxlg': 1680px,
		'xxxxlg': 1928px
	)
);

@use "../blocks/**/*.scss";
@use "../../node_modules/swiper/swiper";
@use "../../node_modules/swiper/modules/effect-fade";
@use "../../node_modules/@fancyapps/ui/dist/fancybox/fancybox.css";

body, html {
	background-color: var(--background);
	font-size: var(--size);
	color: var(--text);
	font-family: var(--font, sans-serif);
	display: flex;
	flex-flow: column nowrap;
}